In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
train_file = "./train.csv"
test_file = "./test.csv"
num_cols = ["ps_reg_01", "ps_reg_02", "ps_reg_03","ps_car_12", "ps_car_13", "ps_car_14", "ps_car_15"]
ignore_cols = ["id", "target", "ps_calc_01", "ps_calc_02", "ps_calc_03", "ps_calc_04", "ps_calc_05", 
               "ps_calc_06", "ps_calc_07", "ps_calc_08", "ps_calc_09", "ps_calc_10", "ps_calc_11", 
               "ps_calc_12", "ps_calc_13", "ps_calc_14","ps_calc_15_bin", "ps_calc_16_bin", 
               "ps_calc_17_bin","ps_calc_18_bin", "ps_calc_19_bin", "ps_calc_20_bin"]

In [3]:
cfg = {
    "feature_size": None,
    "field_size": None,
    "embed_size":8,
    "deep_nn":[32,32],
    "dropout_fm": 0,
    "dropout_deep": 0.2,
    "epoch":20,
    "batch":10000,
    "split": 0.1,
    "class_weight": None 
}

In [4]:
def overview(cfg):    
    dfTrain = pd.read_csv(train_file)
    dfTest = pd.read_csv(test_file)
    df = pd.concat([dfTrain,dfTest], sort=False)

    field_size = len(df.columns) - len(ignore_cols)
    feature_dict = {}
    feature_size = 0
    for col in df.columns:
        if col in ignore_cols:
            continue
        elif col in num_cols:
            feature_dict[col] = feature_size
            feature_size += 1
        else:
            unique_val = df[col].unique()
            feature_dict[col] = dict(zip(unique_val,range(feature_size,len(unique_val) + feature_size)))
            feature_size += len(unique_val)
    
    cfg['field_size'] = field_size
    cfg['feature_size'] = feature_size
    return dfTrain, feature_dict

In [5]:
dfTrain, feature_dict = overview(cfg)

In [6]:
def preprocess(train_df, cfg):
    label_df = train_df[['target']]
    neg, pos = np.bincount(label_df.values.flatten())
    cfg["class_weight"] = {0: (1/neg)*(neg+pos), 1: (1/pos)*(neg+pos)}
    
    train_df.drop(['target','id'],axis=1,inplace=True)
    feature_idx = train_df.copy()
    feature_val = train_df.copy()
    for col in feature_idx.columns:
        if col in ignore_cols:
            feature_idx.drop(col,axis=1,inplace=True)
            feature_val.drop(col,axis=1,inplace=True)
            continue
        elif col in num_cols:
            feature_idx[col] = feature_dict[col]
        else:
            feature_idx[col] = feature_idx[col].map(feature_dict[col])
            feature_val[col] = 1        
            
    split_idx = feature_idx.shape[0] - round(feature_idx.shape[0]*cfg["split"])
    train_input = [feature_idx[:split_idx].values, feature_val[:split_idx].values]
    train_y = label_df[:split_idx].values
    validate_input = [feature_idx[split_idx:].values, feature_val[split_idx:].values]
    validate_y = label_df[split_idx:].values

    return train_input, train_y, validate_input, validate_y

In [7]:
train_input, train_y, validate_input, validate_y = preprocess(dfTrain, cfg)

In [8]:
class DeepFM(tf.keras.Model):
    def __init__(self, cfg):
        super(DeepFM, self).__init__()
        self.feature_size = cfg['feature_size']
        self.field_size = cfg['field_size']
        self.embed_size = cfg['embed_size']
        self.deep_nn = cfg['deep_nn']
        
        self.dropout_fm = cfg['dropout_fm']
        self.dropout_deep = cfg['dropout_deep']
        
        # fm        
        self.feature_weight = tf.keras.layers.Embedding(cfg['feature_size'], 1)
        self.feature_embed = tf.keras.layers.Embedding(cfg['feature_size'], cfg['embed_size'])

        # dnn
        for layer in range(len(cfg['deep_nn'])):
            setattr(self, 'dense_' + str(layer), tf.keras.layers.Dense(self.deep_nn[layer]))
            setattr(self, 'batchNorm_' + str(layer), tf.keras.layers.BatchNormalization())
            setattr(self, 'activation_' + str(layer), tf.keras.layers.Activation('relu'))
            setattr(self, 'dropout_' + str(layer), tf.keras.layers.Dropout(self.dropout_deep))
            
        self.fc = tf.keras.layers.Dense(1, activation='sigmoid', use_bias=True)

    def call(self, inputs, training=True):
        # inputs = [feature_idx, feature_val]
        reshaped_feature_val = tf.cast(tf.reshape(inputs[1], shape=[-1,self.field_size,1]), tf.float32)
        # linear        
        weights = self.feature_weight(inputs[0])
        linear = tf.reduce_sum(tf.multiply(weights,reshaped_feature_val),2)
        
        # fm  
        embeddings = self.feature_embed(inputs[0])
        second_inner = tf.multiply(embeddings,reshaped_feature_val)
        
        summed_features_emb = tf.reduce_sum(second_inner,1)
        summed_features_emb_square = tf.square(summed_features_emb)
        
        squared_features_emb = tf.square(second_inner)
        squared_sum_features_emb = tf.reduce_sum(squared_features_emb,1)
        
        fm = 0.5 * tf.subtract(summed_features_emb_square,squared_sum_features_emb)
        
        # dnn
        y_deep = tf.reshape(embeddings,shape=[-1,self.field_size * self.embed_size])
        for layer in range(0, len(self.deep_nn)):
            y_deep = getattr(self, 'dense_' + str(layer))(y_deep)
            y_deep = getattr(self, 'batchNorm_' + str(layer))(y_deep, training=training)
            y_deep = getattr(self, 'activation_' + str(layer))(y_deep)
            y_deep = getattr(self, 'dropout_' + str(layer))(y_deep, training=training)
            
        # concat
        concat = tf.concat([linear, fm, y_deep], axis=1)                                
        out = self.fc(concat)
        return out

In [9]:
model = DeepFM(cfg)
# model.compile(optimizer = 'adam', loss='binary_crossentropy', metrics=['binary_accuracy'])
model.compile(optimizer = 'adam', loss=tf.keras.losses.BinaryCrossentropy(from_logits=True), metrics=['binary_accuracy', 'AUC'])
model.fit(train_input, train_y, epochs=cfg['epoch'], batch_size=cfg['batch'], shuffle=True, class_weight=cfg['class_weight'],
          verbose=1, validation_data=(validate_input, validate_y))

Train on 535691 samples, validate on 59521 samples
Epoch 1/20
535691/535691 [==============================] - 6s 11us/sample - loss: 1.4137 - binary_accuracy: 0.6746 - AUC: 0.5797 - val_loss: 1.4057 - val_binary_accuracy: 0.9633 - val_AUC: 0.5076
Epoch 2/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3665 - binary_accuracy: 0.8952 - AUC: 0.6099 - val_loss: 1.3911 - val_binary_accuracy: 0.9633 - val_AUC: 0.5355
Epoch 3/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3604 - binary_accuracy: 0.8923 - AUC: 0.6227 - val_loss: 1.3883 - val_binary_accuracy: 0.9633 - val_AUC: 0.5812
Epoch 4/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3585 - binary_accuracy: 0.8829 - AUC: 0.6269 - val_loss: 1.3858 - val_binary_accuracy: 0.9633 - val_AUC: 0.6023
Epoch 5/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3568 - binary_accuracy: 0.8754 - AUC: 0.6305 - val_loss: 1.3830 - val_binary_accuracy: 0.9633 - val_AUC: 0.6122
Epoch 6/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3554 - binary_accuracy: 0.8781 - AUC: 0.6319 - val_loss: 1.3780 - val_binary_accuracy: 0.9618 - val_AUC: 0.6205
Epoch 7/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3543 - binary_accuracy: 0.8705 - AUC: 0.6335 - val_loss: 1.3727 - val_binary_accuracy: 0.9558 - val_AUC: 0.6236
Epoch 8/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3531 - binary_accuracy: 0.8710 - AUC: 0.6361 - val_loss: 1.3683 - val_binary_accuracy: 0.9399 - val_AUC: 0.6247
Epoch 9/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3532 - binary_accuracy: 0.8674 - AUC: 0.6353 - val_loss: 1.3674 - val_binary_accuracy: 0.9362 - val_AUC: 0.6244
Epoch 10/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3525 - binary_accuracy: 0.8643 - AUC: 0.6351 - val_loss: 1.3634 - val_binary_accuracy: 0.9155 - val_AUC: 0.6268
Epoch 11/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3512 - binary_accuracy: 0.8635 - AUC: 0.6364 - val_loss: 1.3610 - val_binary_accuracy: 0.8791 - val_AUC: 0.6273
Epoch 12/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3507 - binary_accuracy: 0.8628 - AUC: 0.6359 - val_loss: 1.3611 - val_binary_accuracy: 0.8878 - val_AUC: 0.6227
Epoch 13/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3506 - binary_accuracy: 0.8619 - AUC: 0.6345 - val_loss: 1.3621 - val_binary_accuracy: 0.9047 - val_AUC: 0.6201
Epoch 14/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3491 - binary_accuracy: 0.8607 - AUC: 0.6354 - val_loss: 1.3635 - val_binary_accuracy: 0.9108 - val_AUC: 0.6138
Epoch 15/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3488 - binary_accuracy: 0.8565 - AUC: 0.6351 - val_loss: 1.3620 - val_binary_accuracy: 0.8391 - val_AUC: 0.6242
Epoch 16/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3486 - binary_accuracy: 0.8591 - AUC: 0.6363 - val_loss: 1.3625 - val_binary_accuracy: 0.8988 - val_AUC: 0.6143
Epoch 17/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3479 - binary_accuracy: 0.8573 - AUC: 0.6346 - val_loss: 1.3612 - val_binary_accuracy: 0.8773 - val_AUC: 0.6178
Epoch 18/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3475 - binary_accuracy: 0.8554 - AUC: 0.6367 - val_loss: 1.3620 - val_binary_accuracy: 0.8533 - val_AUC: 0.6171
Epoch 19/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3471 - binary_accuracy: 0.8581 - AUC: 0.6346 - val_loss: 1.3643 - val_binary_accuracy: 0.9120 - val_AUC: 0.6060
Epoch 20/20
535691/535691 [==============================] - 1s 2us/sample - loss: 1.3462 - binary_accuracy: 0.8559 - AUC: 0.6355 - val_loss: 1.3617 - val_binary_accuracy: 0.8587 - val_AUC: 0.6158

In [10]:
def prepredict(path):
    predict_df = pd.read_csv(path)
    feature_idx = predict_df.copy()
    feature_val = predict_df.copy()
    for col in feature_idx.columns:
        if col in ignore_cols:
            feature_idx.drop(col,axis=1,inplace=True)
            feature_val.drop(col,axis=1,inplace=True)
            continue
        elif col in num_cols:
            feature_idx[col] = feature_dict[col]
        else:
            feature_idx[col] = feature_idx[col].map(feature_dict[col])
            feature_val[col] = 1 
    return [feature_idx.values, feature_val.values]

In [11]:
# predict_input = prepredict(test_file)
# label_pre = model.predict(predict_input)

In [12]:
validate_input

[array([[  3,   8,  20, ..., 254, 255, 256],
        [  0,   8,  19, ..., 254, 255, 256],
        [  1,   9,  22, ..., 254, 255, 256],
        ...,
        [  1,   9,  24, ..., 254, 255, 256],
        [  2,   8,  19, ..., 254, 255, 256],
        [  3,   9,  23, ..., 254, 255, 256]]),
 array([[1.        , 1.        , 1.        , ..., 0.77539646, 0.39076847,
         3.31662479],
        [1.        , 1.        , 1.        , ..., 0.99036682, 0.32863353,
         3.60555128],
        [1.        , 1.        , 1.        , ..., 0.43593729, 0.35566838,
         0.        ],
        ...,
        [1.        , 1.        , 1.        , ..., 0.59637334, 0.39874804,
         1.73205081],
        [1.        , 1.        , 1.        , ..., 0.76443411, 0.38496753,
         3.16227766],
        [1.        , 1.        , 1.        , ..., 0.9326493 , 0.37802116,
         3.74165739]])]

In [13]:
validate_y[:40]

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0]])

In [14]:
predict_for_vali = model.predict(validate_input)

In [15]:
predict_for_vali = pd.DataFrame(predict_for_vali)
label_for_vali = pd.DataFrame(validate_y)

In [16]:
predict_for_vali.shape

(59521, 1)

In [17]:
label_for_vali.shape

(59521, 1)

In [18]:
check_pd = pd.concat([predict_for_vali, label_for_vali], axis=1)

In [19]:
check_pd.columns = ['predict', 'true']

In [20]:
check_pd.head(40)

     predict  true
0   0.005041     0
1   0.831485     0
2   0.031188     0
3   0.102174     0
4   0.004742     0
5   0.010632     0
6   0.038799     0
7   0.000802     0
8   0.783564     0
9   0.003064     0
10  0.002225     0
11  0.001319     0
12  0.000191     0
13  0.001555     0
14  0.000763     0
15  0.002506     0
16  0.007859     0
17  0.002740     0
18  0.094909     0
19  0.216675     0
20  0.479444     0
21  0.012242     0
22  0.159806     0
23  0.013748     0
24  0.001631     0
25  0.007722     0
26  0.131385     0
27  0.321204     0
28  0.001778     0
29  0.932636     0
30  0.030601     0
31  0.001520     0
32  0.032639     0
33  0.002719     0
34  0.144259     1
35  0.005005     0
36  0.000710     0
37  0.002274     0
38  0.000119     0
39  0.000044     0

In [21]:
check_pd[(check_pd['true'] == 1) & (check_pd['predict'] >= 0.05)]

        predict  true
34     0.144259     1
114    0.958237     1
215    0.092884     1
255    0.990285     1
296    0.382946     1
...         ...   ...
59291  0.921292     1
59315  0.986605     1
59355  0.149215     1
59408  0.853664     1
59422  0.096931     1

[1040 rows x 2 columns]

In [22]:
check_pd[check_pd['true'] == 1]

        predict  true
34     0.144259     1
114    0.958237     1
120    0.009200     1
121    0.046208     1
131    0.002316     1
...         ...   ...
59315  0.986605     1
59355  0.149215     1
59408  0.853664     1
59422  0.096931     1
59467  0.022076     1

[2183 rows x 2 columns]

In [23]:
sort = check_pd.sort_values("predict",ascending=False)

In [24]:
sort[:40]

        predict  true
49062  0.999984     0
56473  0.999969     0
35372  0.999959     0
18553  0.999957     0
58241  0.999955     0
48156  0.999952     0
3113   0.999943     1
31050  0.999929     0
7853   0.999915     0
26736  0.999905     1
16462  0.999894     0
3091   0.999894     0
53733  0.999890     1
36644  0.999886     0
26096  0.999879     0
22977  0.999878     1
20672  0.999875     1
10706  0.999865     0
50256  0.999864     0
51762  0.999863     0
44805  0.999853     0
58723  0.999846     0
18711  0.999840     0
45796  0.999837     0
25155  0.999830     0
51520  0.999827     0
19894  0.999812     1
2924   0.999809     0
5345   0.999804     0
34975  0.999794     0
51586  0.999793     0
36847  0.999778     0
4666   0.999773     0
6802   0.999770     0
52844  0.999753     0
56559  0.999750     0
382    0.999749     0
18871  0.999734     1
8395   0.999733     1
19821  0.999732     1

In [25]:
sort_true = check_pd.sort_values("true",ascending=False)
sort_true[:40]

        predict  true
29760  0.002943     1
6630   0.016401     1
6573   0.209917     1
36206  0.307185     1
36212  0.000062     1
53175  0.004709     1
36214  0.102430     1
6594   0.990063     1
36216  0.988915     1
6600   0.010699     1
24221  0.002234     1
24204  0.859124     1
53144  0.179426     1
24199  0.061785     1
36247  0.019107     1
6563   0.000137     1
24188  0.147961     1
24187  0.016191     1
53128  0.004384     1
53116  0.000574     1
24161  0.017057     1
36277  0.920829     1
24153  0.446629     1
36291  0.174814     1
53084  0.000489     1
6691   0.985236     1
53078  0.153271     1
53071  0.009946     1
36190  0.037659     1
6556   0.038064     1
24114  0.838961     1
24378  0.001011     1
35948  0.087864     1
35952  0.023312     1
24482  0.001715     1
6325   0.025457     1
6337   0.041399     1
6343   0.132613     1
53391  0.006540     1
53387  0.001179     1

In [26]:
sort_false = check_pd.sort_values("true",ascending=True)
sort_false[:40]

        predict  true
0      0.005041     0
39305  0.000492     0
39306  0.000558     0
39307  0.004914     0
39308  0.000229     0
39309  0.017649     0
39310  0.002192     0
39311  0.000928     0
39312  0.036864     0
39313  0.032936     0
39314  0.003602     0
39315  0.004596     0
39304  0.310530     0
39316  0.002190     0
39318  0.389007     0
39319  0.652961     0
39320  0.001520     0
39321  0.000008     0
39322  0.006894     0
39323  0.018589     0
39324  0.143336     0
39325  0.002873     0
39326  0.275083     0
39327  0.211595     0
39328  0.625736     0
39317  0.046186     0
39303  0.013704     0
39302  0.025896     0
39301  0.187684     0
39274  0.365144     0
39275  0.004272     0
39276  0.004057     0
39277  0.072408     0
39278  0.001104     0
39280  0.920008     0
39281  0.035299     0
39282  0.997119     0
39283  0.463337     0
39284  0.014059     0
39285  0.866366     0